.App {
  font-family: 'Courier New', Courier, monospace;
  background-image: url('https://ik.imagekit.io/0qlf5pqwx/4850037-min.webp?updatedAt=1684170548305');
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
}
body{
  padding:0;
  margin:0;
}

.submit-btn {
  text-align: center;
}

h1{

  background-color: black;
  color:white;
  padding:10px;
  border-radius: 10px 20px;
  box-shadow: 2px 2px 5px violet;
}


.div-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  gap: 2rem;
}

.export-text {
  text-decoration: none;
  color:rgb(0, 0, 0);
  background-color: transparent;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.export-text:hover {
  color:rgb(0, 0, 0);
  color: white;
  background-color: rgb(217, 0, 217);
  scale: 105%;
}

button {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000000;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgb(217, 0, 217);
  scale: 105%;
}

.export-text:active, button:active{
  scale:100%;
}